lib/n8n/templates/review-request.json
{
  "name": "Recipe 3 - Review Request - {{TENANT_ID}}",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recipe-3-review-request-{{TENANT_ID}}",
        "responseMode": "responseNode"
      },
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "account_id",
              "value": "={{ $json.body.account_id || $json.account_id }}"
            },
            {
              "name": "contact_id",
              "value": "={{ $json.body.trigger_data.contact_id || $json.trigger_data.contact_id || $json.contact_id }}"
            },
            {
              "name": "review_link",
              "value": "={{ $json.body.trigger_data.review_link || $json.trigger_data.review_link || '' }}"
            }
          ]
        }
      },
      "id": "2",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$env.NEXT_PUBLIC_SUPABASE_URL}}/rest/v1/recipe_activations?account_id=eq.{{$json.account_id}}&recipe_id=eq.review-request&select=config",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        }
      },
      "id": "3",
      "name": "Fetch Recipe Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$env.NEXT_PUBLIC_SUPABASE_URL}}/rest/v1/integrations?account_id=eq.{{$node[\"Normalize Input\"].json.account_id}}&provider=eq.ghl&status=eq.connected&select=credentials_encrypted",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        }
      },
      "id": "4",
      "name": "Fetch GHL Credentials",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const creds = $json[0]?.credentials_encrypted || {};\nconst token = creds.access_token || creds.token || creds.api_key;\nconst locationId = creds.location_id;\nif (!token || !locationId) throw new Error('Missing GHL credentials');\nreturn [{ json: { token, locationId } }];"
      },
      "id": "5",
      "name": "Extract Credential Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/contacts/{{$node[\"Normalize Input\"].json.contact_id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node['Extract Credential Fields'].json.token}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        }
      },
      "id": "6",
      "name": "Get Contact Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const contact = $json.contact || $json;\nconst firstName = contact.firstName || contact.name || 'there';\nconst reviewLink = $node['Normalize Input'].json.review_link || contact.customFields?.find?.(f => f.key === 'review_link')?.value || '';\nif (!reviewLink) throw new Error('Missing review link');\nconst message = `Hi ${firstName}, thanks for choosing us! Could you share a quick review? ${reviewLink}`;\nreturn [{ json: { ...$json, review_message: message } }];"
      },
      "id": "7",
      "name": "Generate Review Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/conversations/messages",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node['Extract Credential Fields'].json.token}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"SMS\",\n  \"message\": {{$json.review_message}},\n  \"contactId\": {{$node['Normalize Input'].json.contact_id}},\n  \"locationId\": {{$node['Extract Credential Fields'].json.locationId}}\n}"
      },
      "id": "8",
      "name": "Send SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$env.NEXT_PUBLIC_SUPABASE_URL}}/rest/v1/event_log",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"account_id\": {{$node['Normalize Input'].json.account_id}},\n  \"recipe_slug\": \"review-request\",\n  \"event_type\": \"review_request_sent\",\n  \"summary\": \"Review request SMS sent\",\n  \"detail\": {\n    \"contact_id\": {{$node['Normalize Input'].json.contact_id}},\n    \"review_link\": {{$node['Normalize Input'].json.review_link}}\n  }\n}"
      },
      "id": "9",
      "name": "Write event_log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\": true, \"recipe\": \"review-request\"}"
      },
      "id": "10",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2220,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Fetch Recipe Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Recipe Config": {
      "main": [
        [
          {
            "node": "Fetch GHL Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch GHL Credentials": {
      "main": [
        [
          {
            "node": "Extract Credential Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Credential Fields": {
      "main": [
        [
          {
            "node": "Get Contact Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact Details": {
      "main": [
        [
          {
            "node": "Generate Review Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Review Request": {
      "main": [
        [
          {
            "node": "Send SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS": {
      "main": [
        [
          {
            "node": "Write event_log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write event_log": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "recipe-3-v1"
}